HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr
out/

.vscode/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.DS_Store

Thumbs.db
desktop.ini

*.log
logs/

.env
.env.*
application-local.properties
application-local.yml
application-secrets.properties
application-secrets.yml

docker-compose.override.yml

*.mv.db
*.trace.db